<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Cameras</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">

  <ion-card>
    <ion-card-content>

      <ion-list>

        <button ion-item *ngFor="let device of devices" (click)="deviceTapped($event, devices)">
          <ion-item>
            <ion-avatar item-left>
              <img src={{device.previewImgUrl}}>
            </ion-avatar>
            <h1>{{device.name}}</h1>
            <p>{{device.motionAlerts}} Motion Alerts Detected. </p>
            <ion-icon name="camera" item-right></ion-icon>
          </ion-item>
        </button>

        <div *ngIf="selectedItem" padding>
          You navigated here from <b>{{device.previewImgUrl}}</b>
        </div>

      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>