.list-page ion-card.content-card ion-list img {

    height: 80px;
    width: 142px;
    margin-right: 15px;

}

.nestcam-device-list button {
    padding-left: 0;
}

.nestcam-device-list button ion-item {
    padding-left: 0;
}

/*Small screen styles*/
@media (min-width: 1px) and (max-width: 599px) {

    ion-card.content-card .live-feed-button {

        display: none;

    }

    .list-page ion-card.content-card ion-list img {

        height: 40px;
        width: 71px;
        margin-right: 10px;

    }

    .nestcam-device-list button ion-label {
        margin: 0;
    }

}