# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
API/NestCam/packages
API/NestCam/NestCam.Domain/obj
API/NestCam/NestCam.Domain/bin
API/NestCam/NestCam.API/obj
API/NestCam/NestCam.API/bin
