// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/nestcam-details/nestcam-details";

@import "../pages/nestcam-list/nestcam-list";

/*Custom fonts*/
@font-face {
    font-family: 'Notera';
    src: url('../fonts/Notera.eot');
    src: url('../fonts/Notera.eot') format('embedded-opentype'),
         url('../fonts/Notera.woff2') format('woff2'),
         url('../fonts/Notera.woff') format('woff'),
         url('../fonts/Notera.ttf') format('truetype'),
         url('../fonts/Notera.svg#Notera') format('svg');
}


/*App background styles*/
.page-body {
  background: url('../../images/dark_background.png') black;
  background-attachment: scroll;
}

/*Custom style for headings*/
.heading {
    font-weight: 300;
    color: $secondary-color;
    font-size: 2.2rem;
    text-align: center;
}

/*Custom style for toolbars*/
ion-navbar .toolbar-title {

    color: $title-color!important;
    font-size: 2.8rem;
    font-weight: 400;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: none!important;

}

ion-navbar .app-title .toolbar-title {

    font-family: 'Notera';
    font-size: 3.8rem;
}

ion-navbar .toolbar-background {

    background-color: rgb(189,189,189)!important;

}

/*Custom style for alerts*/
.alert-wrapper {
    background-color: $input-color;
}

.alert-wrapper .alert-title {
    color: $title-color;
}

.alert-wrapper .alert-message {
    color: $primary-color-dark;
}

.alert-wrapper .alert-button {
    color: $title-color;
    font-size: 18px;
}

/*Custom style for loading spinners*/
.loading-wrapper .loading-spinner .spinner-crescent circle {
    stroke: $primary-color-dark;
}

.loading-wrapper {
    color: $primary-color-dark;
    background-color: $primary-color;
}

/*Custom style for main content cards layout*/
ion-card.content-card {

    background: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    
}

ion-card.content-card ion-item {

    background: transparent;

}

ion-card.content-card ion-list * {

    background: transparent;
    color: $input-color;
    font-weight: 300;

}

ion-card.content-card.justify-vertically {

    min-height: calc(100vh - 108px);

}

/*Custom style for nav buttons*/
ion-card.content-card .nav-button {

    color: $input-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    
}

/*Small screen styles*/
@media (min-width: 1px) and (max-width: 599px) {

    ion-card.content-card {

        width: 90% !important;

    }

    .nestcam-device-list .device-preview-snapshot {
        width: 71px!important;
        height: 40px!important;
    }

}

/*Medium screens*/
@media (min-width: 600px) and (max-width: 959px) {

    ion-card.content-card {
        
        width: 70% !important;
        
    }
}

/*Large screens*/
@media (min-width: 960px) {

    ion-card.content-card {

        width: 50% !important;

    }

}