// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import "app.variables";


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// Ionic Windows Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.wp";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import "app.core";


// App Windows Only Sass
// --------------------------------------------------
// CSS that should only apply to the Windows app

/*Custom styles for inputs*/
ion-card.content-card ion-item.item.item-label-floating.item-input ion-label{

        font-weight: 300;
        color: $input-color;

}

ion-card.content-card ion-item ion-input{

        font-weight: 300;
        color: $input-color;

}

ion-card.content-card ion-item.item.item-label-floating.item-input.input-has-focus ion-label{

        font-weight: 400;
        color: $secondary-color;

}

ion-card.content-card ion-item ion-input .text-input.ng-untouched {

        border: 2px solid $primary-color;
        color: $input-color;

}

ion-card.content-card ion-item ion-input .text-input.ng-touched {

        border: 2px solid $secondary-color;
        color: $input-color;

}

ion-card.content-card  ion-item.input-has-focus ion-input .text-input.ng-untouched {

        border: 2px solid $secondary-color;
        color: $input-color;

}

ion-card.content-card  .item-input.ng-valid.input-has-value:not(.input-has-focus) .text-input {

    border-color: $primary-color;
    
}
